<%- include nav/header %>
<form method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">标题</label>
        <input type="text" required="required" disabled="disabled" value="<%= post.title %>" name="title" class="form-control" id="exampleInputEmail1" placeholder="标题">
    </div>
    <div class="form-group">
        <label for="">标签</label>
        <div class="row">
            <div class="col-xs-2">
                <input type="text" name="tag1" value="<%= post.tags[0] %>" disabled="disabled" class="form-control" placeholder="标签1">
            </div>
            <div class="col-xs-2">
                <input type="text" name="tag2" value="<%= post.tags[1] %>" disabled="disabled" class="form-control" placeholder="标签2">
            </div>
            <div class="col-xs-2">
                <input type="text" name="tag3" value="<%= post.tags[2] %>" disabled="disabled" class="form-control" placeholder="标签3">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">正文</label>
        <textarea class="form-control" required="required" name="post" id="exampleInputPassword1" placeholder="正文" rows="10"><%= post.post %></textarea>
    </div>
    <p class="text-right">
        <button type="submit" class="btn btn-primary">保存修改</button>
        <a class="btn btn-default" href="/u/<%= post.username %>/<%= post.date.day %>/<%= post.title %>" role="button">取消</a>
    </p>
</form>
<%- include nav/footer %>