<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <header>
                    <h1><%= title %></h1>
                    <p><%= errors %><%= infos %></p>
                    <% if(infos){ %>
                    <p><%=infos%><%=user%></p>
                    <% } %>
                    <% if(errors){ %>
                    <p><%=errors%></p>
                    <% } %>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <nav>
                    <span><a class="btn btn-success btn-xs btn-block" href="/">主页</a></span>
                    <% if (user) { %>
                    <span><a class="btn btn-primary btn-xs btn-block" href="/upload">上传</a></span>
                    <span><a class="btn btn-danger btn-xs btn-block" href="/post">发布</a></span>
                    <span><a class="btn btn-primary btn-xs btn-block" href="/logout">退出</a></span>
                    <% }else{ %>
                    <span><a class="btn btn-warning btn-xs btn-block" href="/login">登录</a></span>
                    <span><a class="btn btn-default btn-xs btn-block" href="/reg">注册</a></span>
                    <% } %>
                </nav>
            </div>
            <div class="col-xs-9">
                <article>
